# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

// genres: Genre = {
  //   name: 'All',
  //   completed: false,
  //   color: 'primary',
  //   value: 'All',
  //   subtasks: [
  //     {name: 'Dark', value: 'Dark', completed: false, color: 'primary'},
  //     {name: 'Programming', value: 'Programming', completed: false, color: 'primary'},
  //     {name: 'Christmas', value: 'Christmas', completed: false, color: 'primary'},
  //     {name: 'Pun', value: 'Pun', completed: false, color: 'primary'},
  //     {name: 'Spooky', value: 'Spooky', completed: false, color: 'primary'},
  //     {name: 'Miscellaneous', value: 'Miscellaneous', completed: false, color: 'primary'},
  //   ]
  // }

  // genres: Array<any> = [
  //   {name: 'Any', value: 'Any'},
  //   {name: 'Dark', value: 'Dark'},
  //   {name: 'Programming', value: 'Programming'},
  //   {name: 'Christmas', value: 'Christmas'},
  //   {name: 'Pun', value: 'Pun'},
  //   {name: 'Spooky', value: 'Spooky'},
  //   {name: 'Miscellaneous', value: 'Miscellaneous'},
    
  // ]