.card{
    margin: 20px auto 0;
    width: 1000px;
    border-bottom: 1px solid rgba(0,0,0,.17);

    .h{
        text-align: center;
        margin-bottom: 5px;
    }
    .slide{
        display: flex;
        justify-content: center;
            .item{
                margin-right: 5px;
            }
    }
    .input{
        display: block;
        margin: 0 auto;
    }
    .btn-card{
        display: block;
        margin: 10px auto 0;
    }
}

.img-item{
    display: flex;
    justify-content: center;
}
.img{
    height: 300px;
    margin: 10px 0;
    border-radius: 10px;
}
.paginator{
    display: flex;
    justify-content: center; 
}

