<mat-toolbar color="primary">
    <mat-toolbar-row class="nav">
        <a mat-button class="nav-item" routerLink="/info">Info</a>
        <a mat-button class="nav-item" routerLink="/jokes">Jokes</a>
        <a mat-button class="nav-item" routerLink="/memes">Memes</a>
        <a mat-button class="nav-item" routerLink="/password">Password</a>
        <a mat-button class="nav-item" routerLink="/facts">Facts</a>
        <a mat-button class="nav-item" routerLink="/color">Color</a>
        <a mat-button class="nav-item" routerLink="/user">User</a>
    </mat-toolbar-row>
</mat-toolbar>