<mat-card class="card">
    <h1>Password generator</h1>
    <p>We recommend at least 12 characters</p>
    <input class="length" type="number" min="1" max="50" [(ngModel)]="length" placeholder="Enter password length">
    <p>Maximum of 50 characters</p>
    <button mat-raised-button color="primary" [disabled]="!length" (click)="generatePassword()">Generate</button>
</mat-card>

<mat-card class="card" *ngIf="password">
    <input class="password" value="{{password}}" #passwordCopy readonly (dblclick)="copy(passwordCopy)">

    <button mat-raised-button color="primary" (click)="copy(passwordCopy)">Copy</button>
</mat-card>




